<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <a id='ru'
       href="?lang=ru">ru
    </a>
    <a id='en'
       href="?lang=en">en
    </a>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<h1 th:text="#{title.test.completed}"> </h1>
<h1 th:text="#{title.test.result}"> </h1>
<form th:action = "@{/}" method="post">
    <div class="button" >
        <input type="submit" class="btn btn-secondary btn-lg " th:value="#{label.over}" >
    </div>
</form>
<form action="#" th:action = "@{/test_over}" method="post" th:object="${test}">
    <div class="button" >
        <input type="text" th:field="*{id}" hidden/>
        <input type="text" th:field="*{name}" hidden/>
        <input type="text" th:field="*{name_ru}" hidden/>
        <input type="text" th:field="*{category}" hidden/>
        <input type="text" th:field="*{difficulty}" hidden/>
        <input type="text" th:field="*{numberOfQuestions}" hidden/>
        <input type="text" th:field="*{timeLimit}" hidden/>
        <input type="submit" class="btn btn-secondary btn-lg "  th:value="#{label.getResult}" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();" >
    </div>
</form>
</body>
</html>