<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<a href="?lang=en">en</a>
<a href="?lang=ru">ru</a>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>-->
</head>

<button type="button" style="position:absolute; right: 100px"
        class="btn btn-secondary btn-sm"  th:text="#{button.logout}" onclick="location.href='/logout'" ></button>

<button type="button" style="position:absolute; right: 180px"
        class="btn btn-secondary btn-sm"  th:text="#{button.back}" onclick="location.href='/'" ></button>


<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default" style="margin-top:45px">
        <div class="panel-body">
            <form th:action = "@{/all_tests}" method="post">
                <p th:if="${message}" class="alert alert-info" role="alert" th:text="#{message.wrong.email }"></p>
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder=" "
                           pattern="^[a-zA-Z0-9]+$"
                           required
                           name="name">
                </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block " th:text="#{button.disable_test}" onclick="location.href='/all_tests'"></button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default" style="margin-top:45px">
        <div class="panel-body">
            <form th:action = "@{/enable_test}" method="post">
                <p th:if="${message}" class="alert alert-info" role="alert" th:text="#{message.wrong.email }"></p>
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                <div class="form-group">
                    <input type="text" class="form-control" id="nameOfTest" placeholder=" "
                           pattern="^[a-zA-Z0-9]+$"
                           required
                           name="nameOfTest">
                </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block " th:text="#{button.enable_test}"></button>
            </form>
        </div>
    </div>
</div>
<div id = "content">
    <table class="datatable">
        <thead>
        <thead>
        <tr>
            <th th:text="#{label.test.id}"></th>
            <th th:text="#{label.test.name}"></th>
            <th th:text="#{label.test.name_ru}"></th>
            <th th:text="#{label.test.category}"></th>
            <th th:text="#{label.test.numberOfQuestions}"></th>
            <th th:text="#{label.test.difficulty}"></th>
            <th th:text="#{label.test.timeLimit}"></th>
            <th th:text="#{label.test.isActive}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${tests.empty}">
            <td colspan="2" th:text="#{message.tests.empty}"> </td>
        </tr>
        <tr th:each="test: ${tests}">
            <td><span th:text="${test.id}"> Id </span></td>
            <td th:text="${test.name}">Name </td>
            <td><span th:text="${test.name_ru}">Name </span></td>
            <td><span th:text="${test.category}"> Category </span></td>
            <td><span th:text="${test.numberOfQuestions}">NumberOfQuestions </span></td>
            <td><span th:text="${test.difficulty}"> Difficulty </span></td>
            <td><span th:text="${test.timeLimit}"> timeLimit </span></td>
            <td><span  th:if="${test.active}" th:text="#{test.enabled}" > timeLimit </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script>


</script>
</html>