<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <a href="?lang=en">en</a>
    <a href="?lang=ru">ru</a>
    <button type="button" style="position:absolute; right: 100px"
            class="btn btn-default"  th:text="#{button.logout}" onclick="location.href='/logout'" ></button>

    <button type="button" style="position:absolute; right: 180px"
        class="btn btn-secondary btn-sm"  th:text="#{button.back}" onclick="location.href='/'" ></button>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top:45px">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{title.registration}"></h3>
                </div>

                     <div class="panel-body">
                    <form th:action = "@{/add_test}" method="post">
                        <p th:if="${message}" class="alert alert-info" role="alert" th:text="#{message.wrong.testName }"></p>
                        <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                        <div class="form-group">
                            <label for="name" th:text="#{label.test.name}"></label>
                            <input type="text" class="form-control" id="name" placeholder=" "
                                   pattern="^[a-zA-Z0-9]+$"
                                   required
                                   name="name"></div>

                        <div class="panel-body">
                            <form th:action = "@{/add_test}" method="post">
                                <p th:if="${message}" class="alert alert-info" role="alert" th:text="#{message.wrong.testName }"></p>
                                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                                <div class="form-group">
                                    <label for="name_ru" th:text="#{label.test.name_ru}"></label>
                                    <input type="text" class="form-control" id="name_ru" placeholder=" "
                                           pattern="^[а-яёА-ЯЁ0-9]+$"
                                           required
                                           name="name_ru"></div>

                        <fieldset>
                            <label  th:text="#{label.test.category}"></label>
                            <div>
                                <input type="radio" id="MATH" name="category" value="MATH">
                                <label for="MATH" th:text="#{label.category.math}"></label>
                            </div>
                            <div>
                                <input type="radio" id="HISTORY" name="category" value="HISTORY">
                                <label for="HISTORY" th:text="#{label.category.history}"></label>
                            </div>
                            <div>
                                <input type="radio" id="PHYSICS" name="category" value="PHYSICS">
                                <label for="PHYSICS" th:text="#{label.category.physics}"></label>
                            </div>
                            <div>
                                <input type="radio" id="PROGRAMMING" name="category" value="PROGRAMMING">
                                <label for="PROGRAMMING" th:text="#{label.category.programming}"></label>
                            </div>

                        </fieldset>


                                <div class="panel-body">
                                    <form th:action = "@{/add_test}" method="post">
                                        <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                                        <div class="form-group">
                                            <label for="difficulty" th:text="#{label.test.difficulty}"></label>
                                            <input type="text" class="form-control" id="difficulty" placeholder=" "
                                                   pattern="^(?:[1-9]|0[1-9]|10)$"
                                                   required
                                                   name="difficulty">
                                        </div>
                                        <div class="panel-body">
                                            <form th:action = "@{/add_test}" method="post">
                                                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                                                <div class="form-group">
                                                    <label for="numberOfQuestions" th:text="#{label.test.numberOfQuestions}"></label>
                                                    <input type="text" class="form-control" id="numberOfQuestions" placeholder=" "
                                                           pattern="[0-9]{1,2}$"
                                                           required
                                                           name="numberOfQuestions">
                                                </div>

                                                <div class="panel-body">
                                                    <form th:action = "@{/add_test}" method="post">
                                                        <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                                                        <div class="form-group">
                                                            <label for="timeLimit" th:text="#{label.test.timeLimit}"></label>
                                                            <input type="text" class="form-control" id="timeLimit" placeholder=" "
                                                                   pattern="[0-9]{1,3}$"
                                                                   required
                                                                   name="timeLimit">
                                                        </div>
                                                        <button type="submit" class="btn btn-default" th:text="#{button.add_test}"></button>


</body>
</html>